<div class="container-z">
  <p id="notice"><%= notice %></p>

  <div class="year"><%= Time.current.year %></div>

  <div class="leave-info">
    <div class="leave-info-tab leave-balance">
      <div class="title">LEAVE</div>
      <div class="info">
        <span><%= Request.all.where(:request_type => "Leave").count %></span>
          <% if Request.all.where(:request_type => "Leave").count <= 1 %>
            REQUEST
          <% else %>
            REQUESTS
          <% end %>
      </div>
    </div>
    <div class="leave-info-tab wfh-days">
      <div class="title">WORK FROM HOME</div>
      <div class="info">
        <span><%= Request.all.where(:request_type => "WFH").count %></span>  
          <% if Request.all.where(:request_type => "WFH").count <= 1 %>
            REQUEST
          <% else %>
            REQUESTS
          <% end %>
      </div>
    </div>
  </div>

  <div class="user-leave-board">
    <div class="board-title">
      ALL REQUEST
    </div>

    <table class="table table-striped main-board">
      <thead>
        <tr>
          <th scope="col">Request Date</th>
          <th scope="col">Type</th>
          <th scope="col">Employee</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Duration</th>
          <th scope="col">Status</th>
          <th scope="col">Reviewer</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody class="request-list">
        <% Request.all.order(created_at: :desc).each do |request| %>
        <% if request == @current_item %>
        <tr class="request-record" id="current_item">
        <% else %>
        <tr class="request-record">
        <% end %>
            <td style="color: #6666ff; font-weight: 600;"><%= request.created_at.strftime("%b %d, %Y") %></td>
            <td><%= request.request_type %></td>
            <td><%= request.user.name %></td>
            <td><%= request.from_date.strftime("%b %d, %Y") %></td>
            <td><%= request.to_date.strftime("%b %d, %Y") %></td>
            <td><%= request.total_duration %> days</td>
            <td class="request-status">
              <% if request.status == "Pending" %>
                <span class="pending"><%= request.status %></span>
              <% elsif request.status == "Approved" %>
                 <span class="approved"><%= request.status %></span>
              <% else %>
                 <span class="denied"><%= request.status %></span>
              <% end %>
            </td>
            <td>
              <% request.reviewers.each do |reviewer| %>
                <% if reviewer == request.reviewers.last %>
                  <%= reviewer.name %>
                <% else %>
                  <%= reviewer.name %>,
                <% end %>
              <% end %>
            </td>

            <td class="user-action-for-request">
              <%= link_to request_path(request), class: "action view", remote: true do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
