<div class="container-z">
  <p id="notice"><%= notice %></p>

  <div class="year"><%= Time.current.year %></div>

  <div class="leave-info">
    <div class="leave-info-tab leave-balance">
      <div class="title">LEAVE DAYS</div>
      <div class="info"><span><%= current_user.taken %>/<%= current_user.carried%></span> DAYS</div>
    </div>
    <div class="leave-info-tab wfh-days">
      <div class="title">WFH DAYS</div>
      <div class="info"><span><%= current_user.wfh_day %></span> DAYS</div>
    </div>
  </div>

  <div class="user-leave-board">
    <div class="board-title">
      your leave / wfh report
    </div>

    <table class="table table-striped main-board">
      <thead>
        <tr>
          <th scope="col">Request Date</th>
          <th scope="col">Type</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Duration</th>
          <th scope="col">Status</th>
          <th scope="col">Reviewer</th>
          <th scope="col">#</th>

        </tr>
      </thead>
      <tbody>
      <% Request.all.each do |request| %>
            <tr class="request-record" data-link="<%= request_path(request) %>" >
              <td style="color: #6666ff; font-weight: 600;"><%= request.created_at.strftime("%b %d, %Y") %></td>
              <td><%= request.request_type %></td>
              <td><%= request.from_date.strftime("%b %d, %Y") %></td>
              <td><%= request.to_date.strftime("%b %d, %Y") %></td>
              <td><%= request.total_duration %> days</td>
              <td class="request-status">
                <% if request.status == "Pending" %>
                  <span class="pending"><%= request.status %></span>
                <% elsif request.status == "Approved" %>
                   <span class="approved"><%= request.status %></span>
                <% else %>
                   <span class="denied"><%= request.status %></span>
                <% end %>
              </td>
              <td>
                <% request.reviewers.each do |reviewer| %>
                  <% if reviewer == request.reviewers.last %>
                    <%= reviewer.name %>
                  <% else %>
                    <%= reviewer.name %>,
                  <% end %>
                <% end %>
              </td>
              <td class="delete-request">
                <%= link_to request, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  $('.request-record').click(function() {
    window.location =  $(this).data("link")
  })
</script>
