<p id="notice"><%= notice %></p>

<h1>Durations</h1>

<table>
  <thead>
    <tr>
      <th>First date</th>
      <th>Last date</th>
      <th>Duration type</th>
      <th>Leave request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @durations.each do |duration| %>
      <tr>
        <td><%= duration.first_date %></td>
        <td><%= duration.last_date %></td>
        <td><%= duration.duration_type %></td>
        <td><%= duration.leave_request_id %></td>
        <td><%= link_to 'Show', duration %></td>
        <td><%= link_to 'Edit', edit_duration_path(duration) %></td>
        <td><%= link_to 'Destroy', duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duration', new_duration_path %>
