
<div class="nested-fields">
  <div class="duration-label"><%= f.label :first_date %></div>
  <div class="duration-input"><%= f.text_field :first_date, class: "gui-input request_date_picker" %></div>
  <div class="duration-label"><%= f.label :last_date %></div>
  <div class="duration-input"><%= f.text_field :last_date, class: "gui-input request_date_picker" %></div>
  <div class="duration-label"><%= f.label "Duration" %></div>
  <div class="duration-radio-input">
    <% duration_type = ['Morning','Afternoon','All day'] %>
    <% duration_type.each do |duration| %>
      <%= f.radio_button :duration_type, duration, checked: "checked" %>
      <label style="display: inline-block;" for="<% duration %>"><%= duration %></label>
    <% end %>
  </div>
  <div></div>
  <%= f.hidden_field :_destroy %> 

  <%= link_to_remove_association f , class: "delete-duration" do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
</div>

