<div class="new-edit-request">
  <%= form_for(request) do |f| %>
    <% if request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

        <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="main-form">
    	<div class="title">SEND A REQUEST</div>
    	<div class="reviewer-cc">
    		<div class="reviewer-cc-form">
    			<div class="request-form-label"><%= f.label "To" %><span> *</span></div>
    			<div class="request-form-input"><%= f.text_field :reviewer, class: "tag-box", placeholder: "Name of the person that will review your request..." %></div>
    		</div>
    		<div class="reviewer-cc-form">
    			<div class="request-form-label"><%= f.label "CC" %></div>
    			<div class="request-form-input"><%= f.text_field :ccer, class: "tag-box", placeholder: "Name of the person that you want to inform your request..." %></div>
    		</div>
    		
    	</div>
    	<div class="request-type">
    		<div class="request-form-label"><%= f.label :request_type %><span> *</span></div>
    		<div class="request-form-select"><%= f.select :request_type, ["Leave", "WFH"] %></div>
    	</div>
    	<div class="duration-form">
    		<div class="request-form-label" id="duration-form-label"><%= f.label "Date time" %><span> *</span></div>
    		<div class="request-duration-single-form">
    			<%= f.fields_for :durations, request.durations do |duration| %>
    			  <%= render 'duration_fields', f: duration %>
    			<% end %>
    			<div class="request-duration-single-form">
    				<%= link_to_add_association 'Add another date', f, :durations, class: "add" %>
    			</div>
    		</div>
    	</div>

    	<div class="reason">
    		<div class="request-form-label"><%= f.label :reason %><span> *</span></div>
    		<div class="request-form-input"><%= f.text_area :reason, placeholder: "Enter the reason of your request...", size: "15x4" %></div>
    	</div>

    	<div class="btn-group">
    		<div class="request-form-label"></div>
    		<div class="request-form-input">
    			<%= f.submit "Submit" %>
    			<span class="close-request-form">Cancel</span>		
    		</div>
    	</div>
    </div>
    <div class="x-form"><span class="close-request-form">X</span></div>
    

  <% end %>
</div>

<script type="text/javascript">
  $('.close-request-form').on('click', function(){
  	$('.new-request-form').hide();
  });
  $( function() {
      var availableTags =
        <%= raw User.select(:name).map(&:name) %>;
      function split( val ) {
        return val.split( /,\s*/ );
      }
      function extractLast( term ) {
        return split( term ).pop();
      }

      $( ".tag-box" )
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
              $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
        .autocomplete({
          minLength: 0,
          source: function( request, response ) {
            // delegate back to autocomplete, but extract the last term
            response( $.ui.autocomplete.filter(
              availableTags, extractLast( request.term ) ) );
          },
          focus: function() {
            // prevent value inserted on focus
            return false;
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
          }
        });
    } );
</script>
