<div id="new-request">
  <%= form_for(request) do |f| %>
    <% if request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

        <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="title">SEND A REQUEST <span>X</span></div>
    <table class="reviewer-cc">
      <tr class="reviewer-cc-form">
        <td class="form-label"><%= f.label "To" %></td>
        <td class="form-input"><%= f.text_field :reviewer, class: "tag-box" %></td>
      </tr>
      <tr class="reviewer-cc-form">
        <td class="form-label"><%= f.label "CC" %></td>
        <td class="form-input"><%= f.text_field :ccer, class: "tag-box" %></td>
      </tr>
    </table>

    <table class="request-info-group">
      <tr class="request-info">
        <td class="info-label"><%= f.label :request_type %></td>
        <td class="info-input"><%= f.select :request_type, ["Leave", "WFH"] %></td>
      </tr>
    <table class="request-info-group">
      <tr class="request-info">
        <td class="info-label"><%= f.label "Date Time" %></td>
        <td class="date-time-input">
            <%= f.fields_for :durations, request.durations do |duration| %>
              <%= render 'duration_fields', f: duration %>
            <% end %>
        </td>
      </tr>

      <tr class="request-info">
        <td class="info-label"></td>
        <td class="info-input">
          <div class="links">
            <%= link_to_add_association 'add date time', f, :durations %>
          </div>
        </td>
      </tr>
    </table>

    <table>
      <tr class="request-info">
        <td class="info-label"><%= f.label :reason %></td>
        <td class="info-input"><%= f.text_area :reason %></td>
      </tr>
    </table>

<!--     <div class="field">
      <%#= f.label :status %>
      <%#= f.select :status, ["Pending", "Approved", "Denied"] %>
    </div> -->

    <!-- <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div> -->
    </br>


    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $( function() {
      var availableTags =
        <%= raw User.select(:name).map(&:name) %>;
      function split( val ) {
        return val.split( /,\s*/ );
      }
      function extractLast( term ) {
        return split( term ).pop();
      }

      $( ".tag-box" )
        // don't navigate away from the field on tab when selecting an item
        .on( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
              $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
        .autocomplete({
          minLength: 0,
          source: function( request, response ) {
            // delegate back to autocomplete, but extract the last term
            response( $.ui.autocomplete.filter(
              availableTags, extractLast( request.term ) ) );
          },
          focus: function() {
            // prevent value inserted on focus
            return false;
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
          }
        });
    } );
</script>
