
<div id="header">
  <div class="logo">
    <%= link_to root_path do %>
      <h1><%= image_tag("codebox_logo.png") %></h1>
      <div class="company-name">CODEBOX SOLUTIONS</div>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="dropdown login-control">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.name %></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </div>
    </div>
  <% else %>
    <div class="user-control">
      <div id="user-action">
        <div id="login"><%= link_to 'Sign in', login_path, method: :get %></div>
      </div>
    </div>
  <% end %>
</div>

