<div id="nav-bar">
  <div class="container-z">
    <div class="title-tab">
      <%= link_to 'User Dashboard', user_path(current_user) %>
    </div>
    <div class="title-tab">
      <%= link_to 'Company Board', company_dashboard_path %>
    </div>
    <div class="title-tab">
      <%= link_to pending_requests_user_path(current_user) do %>
        Pending-Request (<%= current_user.pending_requests.count %>)
      <% end %>
    </div>
    <div class="title-tab">
      <%= link_to cc_requests_user_path(current_user) do %>
        CC-Request (<%= current_user.cc_requests.count %>)
      <% end %>
    </div>
    <div class="send-request">
      <%= link_to 'Send Request', new_request_path, remote: true %>
    </div>
  </div>
</div>
